ul {
    list-style: none;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
margin-right: 10px;

}

button:disabled {
    background: black;
    color: white;
}

body {
    background-color: yellow;

}

h1 {
    text-align: center;
    color:black;
    font-weight: bold;
}